@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    background: black !important;
    font-family: 'Work Sans', sans-serif;
}

.faq-heading {
    font-family: 'Alfa Slab One', cursive;
    border-bottom: white;
    color: white;
    text-align: center;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    font-family: 'Work Sans';
    color: white;
    justify-content: center;
    flex-direction: column;
}

.faq-page {
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    width: 50%;
    font-size: 20px;
    padding: auto;
    text-align: center;
}

.active,
.faq-page:hover {
    background-color: black;
}

.faq-page:hover {
    color: #B276D8;
}

.faq-body {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    text-align: left;
    /* Align policy body text to the left */
}

.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

.hr-line {
    width: 60%;
    margin: auto;
    border: 1px solid white;
}

/* Media Queries for responsiveness */

@media screen and (max-width: 768px) {

    .faq-page,
    .policy-page {
        width: 80%;
    }

    .faq-body,
    .policy-body {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {

    .faq-page,
    .policy-page {
        width: 90%;
    }

    .faq-body,
    .policy-body {
        width: 90%;
    }
}

.button-container {
    text-align: center;
    margin-top: 100px;
}

.MainPageButton {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 40px;
    margin: 20px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.MainPageButton:hover {
    background-color: #B276D8;
}